<nav class="navbar bg-light">
    <div class="container-fluid">
      
      <div class="nav-item">
        
        <div class="nav">
        <a href="#" class="navbar-brand">PP</a>
          <a href="#" class="nav-link active">Active</a>
          <a href="#" class="nav-link">Passive</a>
          <a href="#" class="nav-link">Passive</a>
          <a href="#" class="nav-link">Passive</a>
          <a href="#" class="nav-link">Passive</a>
        </div>
      </div>
      <div class="d-flex">
        <input type="search" class="form-control me-2 nav-top" placeholder="Search">
        <button type="button" class="btn btn-sm btn-outline-success">Search</button>
      </div>
    </div>
  </nav>
